.content-header {
    h1 {
        color: rgb(0, 0, 0);
        font-size: 100px;
    }
}

.navbar {
    a {
        align-self: center;
    }
}

.main-content {
    display: flex;

    .left {
        width: 50%;
    }

    .right {
        width: 50%;
    }

    @media screen and (max-width: 768px) {
        display: unset;
        .left {
            width: 100%;
        }
        .right {
            width: 100%;
        }
    }
}