@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
body {
    font-family: 'Cutive Mono', monospace;
    color: rgb(255, 255, 255);
    background-color: #000000d9;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    color: white !important;
}

.b-yellow {
    border: 1px solid yellow;
}

.font-black {
    color: black !important;
}

.font-white {
    color: white !important;
}

.bg-black {
    background-color: black;
}

span {
    font-family: 'Sarabun', sans-serif;
}

.content-header {
    h1 {
        color: black;
        font-size: 5rem;
        line-height: 75px;
        font-weight: bold;

        @media screen and (max-width: 768px) {
            font-size: 4rem;
        }
    }
}

.content-body {
    margin-top: 15px;
    line-break: anywhere;
}

.navbar {
    a {
        align-self: center;
    }
}

.main-content {
    display: flex;
    margin-top: 10px;
    gap: 30px;
    
    .left {
        width: 40%;
        align-self: center;
    }

    .right {
        width: 60%;
        
        .vdo {
            background-color: #bbbbbb;
            height: 420px;
        }
    }

    @media screen and (max-width: 768px) {
        display: unset;
        .left {
            width: 100%;
        }
        .right {
            width: 100%;
        }
    }
}

.card-container {
    text-align: center;
    margin: 20px;
}

.card-content {
    width: 100%;
    min-height: 400px;
    margin: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;

    .card-title {
        font-weight: bold;
    }
    .card-text {
        max-height: 250px;
        overflow: hidden;
        text-overflow: ellipsis; 
    }
}

.card {
    max-width: 350px;
}


.black-x {
    width: 100%;
    height: 200px;
    background-color: black;
}

.card-group {

}

.navbar  h2, a {
    color: white !important;
}

.navbar a:hover {
    background-color: unset;
}

.navbar a:focus {
    background-color: unset;
}

.main-nav .dropdown-menu {
    background-color: black;
    border: 1px solid #ffffff3b;
}

.main-nav .line-divider {
    border-top: 1px solid rgb(255 255 255);
}


// for footer

.footer {
    padding: 0px;
    background-color: #272D34;
    height: 180px;
    margin-top: 50px;
}